doctype html  
html   
    head        
        meta(charset='UTF-8')        
        title LGTV Channel Control - Channel List
        style
            include ../public/stylesheets/bootstrap.min.css
        script
            include ../public/javascripts/channelfuncs.js
    body(style="margin-left: 5px; margin-top: 10px;")        
        main#main
        div(class="container")
            div(class="row justify-content-between")
                div(class="col-4")
                    h3 Channel List for TV # #{selectedTV}      
                div(class="col-4")  
                    a(href="/returnToMain")
                        button(type='button' 
                            class='btn btn-primary btn-lg' 
                            value="Back to TV Select Menu") Return to TV Select Menu
        div(class="container" style='margin-top:30px;' id='btnDiv')            
            each channel in channelList  
                if channel.channelId == currentChannelID
                    button(type='button' 
                        class='btn btn-success btn-lg' 
                        style='margin-left: 30px; margin-bottom: 30px;'
                            onClick='selectChannel("' + channel.channelId + '");') #{channel.channelMode} #{channel.channelNumber}
                else 
                    button(type='button' 
                        class='btn btn-primary btn-lg'
                        style='margin-left: 30px; margin-bottom: 30px;' 
                            onClick='selectChannel("' + channel.channelId + '");') #{channel.channelMode} #{channel.channelNumber}
                      
                
            
        form(action="changeChannel" method="POST")
                input(type="hidden" id="channelID" name="channelID" value="#{currentChannelID}")


            
        
        