doctype html  
html   
    head        
        meta(charset='UTF-8')        
        title LGTV Channel Control
        style
            include ../public/stylesheets/bootstrap.min.css
        script
            include ../public/javascripts/homefunctions.js
    body(style="margin-left: 5px; margin-top: 10px;")        
        main#main
        div(class="container")
            div(class="row justify-content-between")
                div(class="col-4")
                    h3 LGTV Channel Control                
                div(class="col-4")
                    button(type='button' id="powerOffBtn" name="powerOffBtn"
                        class='btn btn-danger btn-lg'                         
                        value="poweroff"
                        onClick='showChannels(0);')  Turn 'em Off
        div(class="container" style="margin-top: 30px;" id="btnDiv" name="btnDiv")
            each tvChunk in tvList
                div(class="row")   
                    each tv in tvChunk
                        if (tv.tvNumber == "EMPTY")
                            div(class="col-sm")
                        else 
                            div(class="col-sm")
                                button(type='button' 
                                    class='btn btn-primary btn-lg' 
                                    style='margin-left: 30px; margin-bottom: 30px;'
                                    onClick='showChannels(' + tv.tvNumber + ');') TV # #{tv.tvNumber}         

            form(action="gotoChannelsPage" method="POST")
                input(type="hidden" id="selectedTV" name="selectedTV" value="")
