doctype html  
html   
    head        
        meta(charset='UTF-8')        
        title LGTV Channel Control - Channel List
        link(rel="icon" href="../stylesheets/favicon.ico")
        link(rel='stylesheet', href='../stylesheets/bootstrap.min.css', type='text/css' )   
        script.
            var tvList = !{JSON.stringify(tvList)}    
        script(src="../javascripts/channelfuncs.js")  
        script(src="../javascripts/homefunctions.js") 
        script(src="../javascripts/jquery-3.6.0.min.js")        
        script.
            selectedTVNums = [#{selectedTVList}];
    body(style="margin-left: 5px; margin-top: 10px;")        
        main#main
        div(class="container")
            div(class="row justify-content-between")
                div(class="col-4")
                    h3 Channel List  
                div(class="col-8" id="topBtnDiv" name="topBtnDiv" style="text-align: right;")  
                    a(href="/scripts")
                        button(type='button' 
                            id='scriptsBtn'
                            name='scriptsBtn'
                            class='btn btn-primary btn-lg' 
                            style="margin-right: 20px;"
                            onClick='') Scripts                     
                    button(type='button' id="powerOffBtn" name="powerOffBtn"
                        class='btn btn-danger btn-lg'  
                        style="margin-right: 20px;"                       
                        value="poweroff"
                        onClick='showChannels(0);') Turn 'em Off
                    button(type='button' id="healthChkBtn" name="healthChkBtn"
                        class='btn btn-danger btn-lg'                         
                        value="healthchk"
                        onClick='runHealthCheck();') Health Check 
        div(class="container" style='margin-top:30px; margin-left: 5px; margin-right: 5px;' id='btnDiv')    
            div(class="row")   
                div(class="col-4")     
                    each channel in channelList  
                        button(type='button' 
                            class=(channel.channelId == currentChannelID ? 'btn btn-success btn-lg' : 'btn btn-primary btn-lg') 
                            style='margin-left: 12px; margin-bottom: 30px;'                            
                                onClick='selectChannel("' + channel.channelId + '","' + channel.channelNumber + '");') #{channel.channelMode} #{channel.channelNumber}
                div(class="col-8")                             
                    each tv in tvList   
                        button(type='button' 
                            id='tv' + tv.tvNumber + 'Btn'
                            name='tv' + tv.tvNumber + 'Btn'
                            class=(selectedTVList.includes(tv.tvNumber) ? 'btn btn-success btn-lg' : 'btn btn-primary btn-lg') 
                            style='margin-left: 20px; margin-bottom: 30px;'
                            value=tv.tvNumber
                                onClick='selectTV(this, ' + tv.tvNumber + ');') TV # #{tv.tvNumber}         
                
            
        form(action="changeChannel" method="POST" id="changeChannelForm" name="changeChannelForm")
                input(type="hidden" id="channelID" name="channelID" value="")
                input(type="hidden" id="channelNumber" name="channelNumber" value="")
                input(type="hidden" id="tvNumsFld" name="tvNumsFld" value="")

        form(action="gotoChannelsPage" method="POST" id="gotoChannelsForm" name="gotoChannelsForm")
                input(type="hidden" id="selectedTV" name="selectedTV" value="")


            
        
        